html,body
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: black;
	overflow: hidden;
}

a
{
	color: #85ad8b;
	text-decoration: none;
}
a:hover
{
	color: #5f8f67;
}

.sync-video,.plyr,.plyr__video-wrapper,.plyr__video-wrapper video
{
	width: 100%;
	height: 100%;
}
.subs-button
{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	padding: 5px;
	opacity: 0.5;
	z-index: 999;
}
.subs-button:hover
{
	cursor: pointer;
	opacity: 0.75;
}

.page
{
	display: flex;
	height: 100%;
}
.video
{
	flex: 1;
	height: 100%;
}
.chat
{
	min-width: 325px;
	box-sizing: border-box;
	width: 18%;
	height: 100%;
	float: right;
	background: #36393F;
	color: #cbcbcb;
	display: flex;
	flex-flow: column;
	font-family: "Open Sans", "Trebuchet MS", sans-serif;
}
.chat-header
{
	height: 25px;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 12px;
	line-height: 25px;
	font-style: italic;
	font-weight: bold;
}
.chat-messages
{
	flex: 1;
	font-size: 14px;
	padding: 10px;
	padding-top: 0;
	overflow: auto;
}
.chat-box
{
	height: 35px;
	display: flex;
	flex-flow: row;
}
.chat-box .chat-auth-notice
{
	width: 100%;
	text-align: center;
}
.chat-input
{
	flex: 1;
	outline: 0;
	background: #484C52;
	border: 0;
	box-sizing: border-box;
	padding: 5px;
	color: #cbcbcb;
}
.chat-submit
{
	background: #7F8186;
	border: 0;
	font-weight: bold;
	color: #cbcbcb;
	outline: 0;
}
.chat-submit:hover
{
	background: #75777A;
}
.chat-author
{
	font-weight: bold;
}
.chat-body
{
	word-break: break-all;
}
.chat-me,.chat-sys
{
	font-style: italic;
}

.chat-messages::-webkit-scrollbar
{
	width: 10px;
	background: #aaaaaa;
}

.chat-messages::-webkit-scrollbar-thumb
{
	background: #4B7051;
}

.chat-toggle
{
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 14px;
	cursor: pointer;
	opacity: 0.4;
}

.chat-toggle:hover
{
	color: #dddddd;
	opacity: 1.0;
}